/* CrustFungi.Com CSS Code */
/* Written by: Alden Dirks */


/*-------------------------*/
/* Fonts */

@font-face {
	font-family: "Peich";
	src: url("/css/fonts/peich/peich.otf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/roboto/roboto-regular.ttf");
}

@font-face {
	font-family: "Roboto-Italic";
	src: url("/css/fonts/roboto/roboto-italic.ttf");
}

@font-face {
	font-family: "Roboto-Thin-Italic";
	src: url("/css/fonts/roboto/roboto-thin-italic.ttf");
}


/*-------------------------*/
/* Responsive Formatting */

body {
	margin: 0px;
}

* {box-sizing: border-box;}

/* Extra small devices (phones, 600px and down) */
/* Responsive top navigation: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* Sticky top navigation: https://www.w3schools.com/css/css_navbar.asp */
@media only screen and (max-width: 600px) {
	.nav {
		overflow: hidden; /* This is necessary so that the page content is below the navigation bar */
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	.nav #logo, .nav #copyright {
		display: none;
	}
	.nav a {
		float: left; /* Adding float: left; to a display: block; element makes it act more like an inline element */
		display: block; /* With float: left; specified, this display rule seems redundant */
		text-align: center; /* This seems to be redundant */
		padding: 14px 14px;
	}
	.nav a:not(:first-child) {
		display: none;
	}
	.nav a.nav-icon {
		float: right;
		display: block;
	}
	.nav.responsive {
		position: relative;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.nav.responsive .nav-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.species-image {
		display: none;
	}
	tr td:last-child, tr th:last-child {
            display: none;
        }
	.species-description-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.species-description-images {
		margin: 20px 0px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
	.nav {
		overflow: hidden;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	.nav #logo, .nav #copyright {
		display: none;
	}
	.nav a {
		float: left; /* Adding float: left; to a display: block; element makes it act more like an inline element */
		display: block; /* With float: left; specified, this display rule seems redundant */
		text-align: center; /* This seems to be redundant */
		padding: 14px 14px;
	}
	.nav .nav-icon {
		display: none;
	}
	.species-image {
		display: none;
	}
	.species-description-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.species-description-images {
		margin: 20px 0px;
	}
} 

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 800px) {
	.nav {
		width: 200px;
		height: 100%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		overflow: auto;
		margin: 0;
	}
	.nav #logo, .nav #links, .nav #copyright {
		display: block;
	}
	.nav a {
		float: none;
		text-align: left;
		padding: 10px 40px;
		line-height: 1;
	}
	.content {
		margin-left: 200px;
	}
	.species-image {
		display: none;
	}
	.species-description-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.species-description-images {
		margin: 20px 0px;
	}
}  

/* Large devices (laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
	.species-image {
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: 20px;
		align-self: flex-start; /* <-- this is required to make an element in a flexbock sticky */
		box-sizing: border-box;
	}
	.species-description-content {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	.species-description-text {
		flex-basis: 100%;
	}
	.species-description-images {
		margin: 20px 0px 0px 30px;
		flex-basis: 50%;
	}
}


/*-------------------------*/
/* Navigation Menu */

.nav {
	background-color: rgb(237, 237, 237);
	font-family: Peich, Arial, sans-serif;
	z-index: 1;
}

.nav #logo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.nav #logo img {
	width: 175px;
	opacity: .85;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav #logo p {
	font-size: 50px;
	text-align: center;
	color: #2E2E2E;
	margin: 0;
	padding-top: 10px;
	line-height: .5;
}

.nav a {
	color: #2E2E2E;
	text-decoration: none;
	font-size: 28px;
}

.nav a:hover {
	background-color: teal;
	color: white;
	}

.nav .nav-icon {
	padding: 0px; /* This ensures that the menu icon ccontainer doesn't have any clickable space that doesn't animate the icon */
	margin-top: 14px;
	margin-right: 20px;
}

.menu {
	display: inline-block;
	cursor: pointer;
	margin: -10px 0px; /* This is to prevent the menu from having extra space due to the 6px margins of the nav icon bars (see below), which is clickable but doesnt animate */
	padding: 6px; /* More padding leads to more clickable space */
}

.menu:hover {
	background-color: rgb(237, 237, 237);
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #2E2E2E;
	margin: 6px 0;
	transition: 0.4s;
}

.menu:hover .bar1, .menu:hover .bar2, .menu:hover .bar3 {
	background-color: teal;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.nav #copyright {
	flex-shrink: 0;
	margin-top: auto;
}

.nav #copyright p {
	font-size: 18px;
	color: #2E2E2E;
	border-top: 2px solid #ccc;
	vertical-align: bottom;
	text-align: center;
	padding-top: 10px;
}


/*-------------------------*/
/* Site-wide Content Formatting */

.content {
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	font-family: Roboto-Regular, Arial, sans-serif;
}

.content h1 {
	color: #024C4C;
	border-bottom: 2px solid rgba(2,76,76,.70);
	padding-bottom: 5px;
}

.content h2 {
	font-size: 20px;
	padding-top: 20px;
	color: teal;
}

.content p {
	font-size: 15px;
	line-height: 25px;
}

.content a {
	color: darkmagenta;
}

.content a:hover {
	color: crimson;
}

.content strong {
	color: teal;
}


/*-------------------------*/
/*Home Page*/

.splash {
	box-sizing: border-box;
	position: fixed;
	overflow-y: hidden;
	margin-top: -6px;
	margin-left: -25px;
	height: 100%;
}

.splash img {
	width: 100%;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	-ms-flex: 20%; /* IE10 */
	flex: 20%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

@media screen and (max-width: 1200px) {
	.column {
		-ms-flex: 30%;
		flex: 30%;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.column {
		-ms-flex: 40%;
		flex: 40%;
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}


/*-------------------------*/
/*Species Page*/

.species-flex {
	display: flex;
	flex-direction: row;
}

.species-text {
	flex-basis: 60%;
}

p.synonymy {
	padding-left: 10px;
	font-size: 13px;
	color: darkslategray;
}

.binomial-flex {
	display: flex;
	flex-direction: row;
}

.binomial-genus p {
	min-width: 150px;
}

.binomial-genus p {
	margin: 0px;
	color: teal;
}

.binomial-epithet {
	margin-bottom: 20px;
}

.binomial-epithet p {
	margin: 0px;
}

.species-image img {
	width: 100%;
	height: auto;
	border: 2px solid rgba(2,76,76,.70);
}

.species-image p {
	margin-top: -7px;
	font-size: 15px;
	font-style: italic;
}


/*-------------------------*/
/*Literature Page*/

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	counter-reset: rowNumber; /*part of code to automatically number row*/
	margin-bottom: 10px;
}

th {
	color: whitesmoke;
	background-color: teal;
	font-size: 20px;
}

th, td {
	text-align: left;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:not(:first-child) {
	counter-increment: rowNumber;
} /*part of code to automatically number row*/

tr td:first-child::before {
	content: counter(rowNumber);
	min-width: 1em;
	margin-right: 0.5em;
} /*part of code to automatically number row*/


/*-------------------------*/
/* Species Description */

.banner {
	margin-left: -25px;
	margin-right: -25px;
}

.banner img {
	width: 100%;
	height: auto;
	opacity: .8;
	filter: alpha(opacity = 0.75); /* For IE8 and earlier */
}

.species-description header {
	border-bottom: 1px solid teal;
}

.species-description h1 {
	border-bottom: 0px;
}

.species-name {
	color: #004C59;
}

.taxonomy {
	margin-top: -10px;
}

.taxonomy img {
	vertical-align: middle;
	padding-left: 10px;
}	

.species-description-text {	
	text-align: justify;
	position: -webkit-sticky;
	position: sticky;
	align-self: flex-end;
	bottom: 0;
}

.species-description-images img { 
	width: 100%;
	height: auto;
}

.species-description-images p { 
	font-size: 14px;
	line-height: 1.5;
	margin-top: 0px;
	margin-bottom: 20px;
}

.species-description-footer {
	margin-top: 25px;
	font-family: Roboto-Thin-Italic;
}